.banner {
    position: relative;
    color: #ffff;
    min-height: 200px;
    max-height: 780px;
}
.banner__img{
    width: 100%;
}
.banner__img img{
    width: 100%;
    min-height: 350px;
    max-height: 650px;
    filter: brightness(80%);
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}
.banner__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    text-align: left;
    width: 70%;
}
.text__content{
    font-size: var(--text-lg);
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 1024px) {
    .banner__content{
        transform: translate(-50%, -50%);
    }
}
