.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.jobs__info {
    text-align: center;
    width: 90%;
    font-size: var(--text-base);
}

.jobs__filter {
    min-width: 40%;
    max-width: 70%;
    min-height: 50px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.jobs__list{
    width: 100%;
}