.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  gap: 20px;
  overflow-y: scroll;
  width: 95%;
  max-height: 550px;
  margin: 0 auto;
  box-shadow: var(--secondary-background) 0px 10px 10px 10px;
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--secondary-background) 0px 3px 8px;

  background-color: var(--primary-background);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card:hover{
transform: scale(1.05);
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card__imgContainer{
width: 100%;
height: 120px;
}
.card__content {
  color: var(--title-color);
  padding: 20px;

}

.card__title {
  margin: 0 0 10px;
  font-size: var(--text-base);
}

.card__info {
  margin: 5px 0;
  font-size: var(--text-sm);
}

.card__requirements {
  margin: 0;
  padding-left: 20px;
  color: #666;
}
.card__footer{
  width: 100%;
  background-color: #e6f4ea;
  color: #34a853;
  padding:5px;
  text-align: center;
}