.button {
    padding: 4px;
    border-radius: 0.75rem;
    transition: background-color 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--primary-background);
}
@media (max-width: 1024px) {
    .button:hover {
        cursor: unset;
        background-color: unset;
        color: unset;
    }
}