.banner {
    position: relative;
    color: #ffff;
}
.banner__img{
    width: 100%;
}
.banner__img img{
    width: 100%;
    min-height: 350px;
    max-height: 650px;
    filter: brightness(50%);
}
.banner__content{
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    text-align: left;
    width: 70%;
}
.text__content{
    font-size: var(--text-base);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 1024px) {
    .banner__content{
        transform: translate(-50%, -50%);
    }
}
